* {
    --cursor-primary-color: #55fff5;
    --cursor-z-index: 100;
    --cursor-dot-color: var(--cursor-primary-color);
    --cursor-dot-size: 5px;
    --cursor-outline-size: 30px;
    --cursor-outline-width: 2px;
    --cursor-outline-color: var(--cursor-primary-color);
    --cursor-border-radius: 50%;
}
